:host {
  display: block;
  background-color: orange;
  border: 2px solid #2E475C;

}

:host(:hover) {
  border: 2px solid white;
}

:host h1{
	font-weight: 100;
	font-size: 200%;
};


:host p{
		font-size: 20%;
	
};
