:host {
  display: block;
  color: #333333;
  background-color: white;
  border-bottom: 1px solid #CCCCCC;
  font-size: 18px;
  font-weight: 200;
  cursor: pointer;
  padding-left: 10px;

}


:host(:hover) {
  	background-color: #68BB88;
    color: white;
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius:50%;
  margin-right: 20px;
  border: 2px solid white;
}

.titel {

}

.plays {
  margin-right: 10px;
  color: gray;
  font-size: 0.8em;

}

.gray {
  width: 18px;
  height: 18px;
  margin-right: 10px;
}

.quizcardcontainer {
  padding: 10px;

}

core-icon-button {
  background-color: white;
}
