:host {
  display: block;
}


:host core-icon-button {
  display: block;
  background-color: white;
  border-bottom: 1px solid #CCCCCC;
  color: #68BB88;
  font-size: 20px;
  text-align: center;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  min-height: 45px;
}

:host core-icon-button[juiste] {
  display: block;
  background-color: black;
}

:host h1{
	display: block;
  text-align: center;
	font-weight: 400;
	font-size: 2em;
  text-align: center;

}




.quizcardcontainer {
  padding: 10px;
}

.card {
  background-color: #68BB88;
  border-radius:10px;
  width: 80%;
  padding: 20px;
  color: white;
  margin-bottom: 20px;
  margin-top: 20px;
  margin-right: auto;
  margin-left: auto;
}




#antwoordSelector {
  background-color: white;
  width: 100%;
}


/*
@media screen and (min-width: 800px) {
#antwoordSelector {
  width: 80%;
  height: 100%;
  margin-right: auto;
  margin-left: auto;
}


.card {
  padding: 0px;
}


:host core-icon-button {
  border-bottom: 1px solid #CCCCCC;
  color: #68BB88;
  font-size: 26px;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  min-height: 75px;

}

}




*/