:host {
  display: block;
}

.canvas {
  height: 100%;

}


/*#antwoordSelector {
  max-width: 540px;
  margin: 0px auto;
}*/

.antwoordbtn {
  color: white;
  font-size: 20px;
  background-color: rgba(255,255,255,0.15);
  border-radius: 5px;
  padding: 15px 20px 15px 20px;
  margin: 0px 0px 10px 0px;
  box-shadow: 0px 2px 2px rgba(0,0,0,0.10);
  width: 80%;
  text-align: center
}

.antwoordbtn[active] {
  background-color: rgba(0,0,0,0.05);
}

.correct[active] {
  background: #17BD40;
}


.red[active]{
  color: black;
  background-color: black;
}

.green[active]{
  color: white;
  background-color: white;
}

:host h2{
	display: block;
  color: white;
  font-weight: 900;
  font-size: 28px;
  text-align: center;
}




.opgave {
  color: white;
  display: block;
/*    min-height: 100px;
*/
}

/*
.quizcardcontainer {
  display: block;
  background-color: blue;
  text-align: center;
}
*/
#opgaveScenes {
   background-color: #68BB88;
}

.opgaveimage { 
  max-width: 250px;
  border-radius:50%;
  margin: 20px;
  border: 2px solid white;


}

.opgaveimgcont {
    margin: 0px auto 0px auto;
}



.antwoordSelector {
  display: block;
    padding: 10%;
}





.gevraagde {
  background-color: black;
  display: block;
}




