:host {
  display: block;
}



#antwoordSelector {
  max-width: 540px;
  margin: 0px auto;
}

core-icon-button {
  display: block;
  background-color: rgba(255,255,255,0.15);
  /*border: 4px solid rgba(255,255,255,0.25);*/
  color: white;
  font-size: 22px;
  text-align: center;
  padding: 20px;
  width: 100%;
  /*border-radius: 15px;*/
}


.red[active]{
  color: black;
  background-color: black;
}

.green[active]{
  color: white;
  background-color: white;
}

:host h2{
	display: block;
  color: white;
  font-weight: 900;
  font-size: 28px;
}




.opgave {
  color: white;
  background-color: #68BB88;
}


.quizcardcontainer {
  display: block;
  min-height: 200px;
  /*background-color: blue;*/
  text-align: center;
}

#opgaveScenes {
   background-color: #68BB88;
}







.juisteAntwoord {
  color: red;
  background-color: blue;
}






@media screen and (max-width: 480px) {

.quizcardcontainer {
  min-height: 190px;

}


#antwoordSelector {
  max-width: 320px;
}


:host h2{
  font-weight: 900;
  font-size: 24px;
}


.antwoord {
  font-size: 20px;
  width: 90%;
  padding: 10px;
}



}




