:host {
  display: block;

}


:host core-icon-button {
  display: block;
  background-color: white;
  border-bottom: 1px solid #CCCCCC;
  color: #68BB88;
  font-size: 20px;
  text-align: center;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  min-height: 45px;


}


:host h1{
	display: block;
  text-align: center;
	font-weight: 400;
	font-size: 2em;
  text-align: center;

}




.quizcardcontainer {
  padding: 10px;
}

.opgave {
  color: white;
  background-color: #68BB88;


}




#antwoordSelector {
  background-color: white;
  width: 100%;
}


