:host {
  display: block;

}



.avatar {
	width: 30px;
	height: 30px;
	border-radius:50%;
	margin: 5px 20px 5px 0px;
	border: 2px solid white;
}


.leaderscontainer {
  border-bottom: 1px solid #404040;
}


.center {
	text-align: center;
}

.center h1 { 
	font-size: 22px;
	color: #FCC13E;
	text-transform: uppercase;
	font-weight: 400;
}


.ster {
/*  margin-right: 10px;
	width: 18px;
  height: 18px;*/
  max-height: 18px;
  max-width: 18px; 
  margin-right: 10px; 
/*  margin-left: 10px;
    color:yellow;*/

}


