:host {
  display: block;
}



#controls {
  background-color: #2E475C;
}



#score-add {
	background-color: #2E475C;
}


#puntenerbij[test] {

-webkit-animation: cssAnimation 2.5s 1 ease;
-moz-animation: cssAnimation 2.5s 1 ease;
-o-animation: cssAnimation 2.5s 1 ease;
}



@-webkit-keyframes cssAnimation {
0% { 	-webkit-transform: translate(100px,0px); }
100% { 			-webkit-transform: translate(0px,0px);}
}



@-moz-keyframes cssAnimation {
0% { -moz-transform: translate(100px,0px); }
100% { -moz-transform: translate(0px,0px); }
}

@-o-keyframes cssAnimation {
0% { -o-transform: translate(100px,0px); }
100% { -o-transform: translate(0px,0px); }
}