:host {
  display: block;
	color: white;
}

#quizscenes {
	background-color: #333333;
}

#score-add {
	background-color: #2E475C;
}

#backbutton {
	background-color: #FCC13E;
}

core-icon-button {
	color: black;
}

#controls {
	background-color: #5CA679;
}

.top-controls {
	padding-top:10px;
}

#countdown {
	width: 100%;
}


#progressContainter {
	width: 100px;
}


.heading {
	color: #FCC13E;
	font-weight: 900;
}

.card {
	background-color: #68BB88;
	border-radius:10px;
	width: 80%;
	padding: 20px;
	color: white;
	margin-bottom: 20px;
	margin-top: 20px;
	margin-right: auto;
	margin-left: auto;
	text-align: center;

}



.card2 {
	background-color: #333333;
	border: 3px solid #68BB88;
	border-radius:10px;
	width: 80%;
	padding: 20px;
	color: white;
	margin-bottom: 20px;
	margin-top: 20px;
	margin-right: auto;
	margin-left: auto;
	text-align: center;

}


.quizcardcontainer {
  padding: 10px;
	height: 100%;
}

.quizcardcontainer h1 {
	font-size: 44px;
	color: white;
	 font-weight: 200;

}

.breed {
	width: 100%;
	display: block;
}


p {
	font-size: 20px;
	font-weight: 200;
	color:  #47805D;


}


.red {
	background-color: red;
}


.center {
	text-align: center;
}


.scoretag {
	font-size: 66px;
	color: #68BB88;
	margin: 0px auto;
}


.card2 h2 {
	color: #68BB88;
	font-size: 22px;
	font-weight: 400;
	margin: 30px 0px 0px 0px;

}
