:host {
  display: block;
	color: white;
}

#quizscenes {
	background-color: #333333;
}

#score-add {
	background-color: #2E475C;
}

#backbutton {
	background-color: #FCC13E;
}

#controls {
	background-color: #5CA679;
}

.top-controls {
	padding-top:10px;
}

#countdown {
	width: 100%;
}

#progressContainter {
	width: 100px;
}


.heading {
	color: #FCC13E;
	font-weight: 900;
}



/* SCENE 2: INTRO + LEADERBOARD; */

.card {
	width: 80%;
	background-color: #333333;
}

.quizcardcontainer {
  	margin-top: 5vmin;
  	padding: 10px;
  	background-color: #68BB88;
  	border-radius: 5px;
}


.quizcardcontainer h1 {
	font-size: 40px;
	color: white;
	text-transform: uppercase;
	text-align: center;
	font-weight: 200;
	background-color: #68BB88;
	margin: 20px 0px 10px 0px;
	line-height: 90%;
}


.quizcardcontainer p {
	font-size: 18px;
	font-weight: 400;
	text-align: center;
	color:  #47805D;
	margin: 0px 0px 15px 0px;
}

.quizcardcontainer .small {
	font-size: 11px;
	font-weight: 700;
	margin: 0px 0px 10px 0px;
	color: rgba(0,0,0,0.25);
}

.startbutton {
	color: white;
	font-size: 20px;
	background-color: rgba(255,255,255,0.15);
	border-radius: 5px;
	padding: 10px 20px 10px 20px;
	margin: 15px 0px 20px 0px;
	box-shadow: 0px 2px 2px rgba(0,0,0,0.10);
}






.leader {
	width: 80%;
}

.card2 {
/*	background-color: #333333;
	border: 3px solid #68BB88;
	border-radius:10px;
	width: 80%;
	padding: 20px;
	color: white;
	margin-bottom: 20px;
	margin-top: 20px;
	margin-right: auto;
	margin-left: auto;
	text-align: center;*/

}





.breed {
	width: 100%;
	display: block;
}



.red {
	background-color: red;
}


.center {
	text-align: center;
}


.scoretag {
	font-size: 66px;
	color: #68BB88;
	margin: 0px auto;
}


.card2 h2 {
	color: #68BB88;
	font-size: 22px;
	font-weight: 400;
	margin: 30px 0px 0px 0px;

}




core-overlay {
  width: 400px;
  height: 400px;
  background-color: transparent;
  color: #FCC13E;
  border-radius: 20px;
  font-size: 120px;
}


#tijdloop {
	  color: black;
	  font-weight: 400;
	  width: 100px;
	  font-size: 16px;
	  opacity: 0.5;
}


.clockje {
	width: 12px;
	margin-right: 5px;
}


