:host {
  display: block;

}

h1 {
	font-size: 48px;
	color:black;
}

#quizSelector {
	max-width: 640px;
	margin: 0px auto;
}



.core-header {
	  background-color: #FCC13E;
}



.red {
	background-color: red;
}

.big {
	width: 120px;
	height: 120px;
	margin: 20px;
}



.ster {
	width: 40px;
	height: 40px;
	margin: 0 4px 0 4px;
}